{% extends "layout.html" %}

        {% block content %}
        <script type="text/javascript" src="{{ url_for('static', filename = 'songs.js') }}"></script>
        <script type="text/javascript">
            // Define global variables for clients and sales
            var data = {{ data|tojson | safe }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'log_sales.js') }}"></script>
        
        <div class="containter-fluid">
            <div id="draggable" class="row record-area ui-widget-content">
                <span class="col-3 song">
                    <ul></ul>
                </span>
            </div>
        </div>
        {% endblock %}